<mat-toolbar color="primary">
  <span style="cursor: pointer;" routerLink="/">🍔 Reo Comelón 🍕</span>
  <span class="spacer"></span>
  <button mat-button routerLink="/">Principal</button>
  <button mat-button routerLink="/registro-presos">Registro Presos</button>
  <button mat-button routerLink="/registro-bodega">Registro Bodega</button>
  <button mat-button routerLink="/registro-ingredientes">Registro Ingredientes</button>
  <button mat-button routerLink="/registro-receta">Registro Receta</button>
</mat-toolbar>
